.services-component {
    padding-block: 30px;

    .loading-btn {
        color: var(--main_color);

        svg {
            width: 50px;
            height: 50px;
        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 15px;

        .service {
            padding: 15px;
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                display: block;
                width: 50px;
                height: 50px;
                margin-inline: auto;
            }

            .content {
                h4 {
                    font-size: 17px;
                    color: #111;
                    margin-bottom: 8px;
                }

                p {
                    font-size: 15px;
                    line-height: 1.7;
                }
            }

        }
    }
}