.marquee {
    .rfm-marquee-container {
        margin-block: 35px;
        padding-block: 15px;

        img {
            width: 140px;
            margin: 0 17px !important;
            object-fit: cover;
            transition: all 0.3s;
            border-radius: 7px;

            &:hover {
                box-shadow: 0 4px 10px 2px rgba($color: #444, $alpha: 0.5);
            }
        }
    }
}

@media (max-width: 767px) {
    .marquee {
        margin-top: 10px;

        img {
            width: 100px !important;
            margin: 0 10px !important;
        }
    }
}