.marquee {
    margin-top: 65px;
    margin-bottom: 50px;

    .rfm-marquee-container {
        img {
            width: 80px;
            margin: 0 17px !important;
            object-fit: cover;
            transition: all 0.3s;
            border-radius: 7px;

            &:hover {
                box-shadow: 0 4px 10px 2px rgba($color: #444, $alpha: 0.5);
            }
        }
    }

    .loading-btn {
        color: var(--main_color);

        svg {
            width: 50px;
            height: 50px;
        }
    }
}

@media (max-width: 767px) {
    .marquee {
        img {
            width: 100px !important;
            margin: 0 10px !important;
        }
    }
}