.login {
    .content {
        padding-block: 30px;

        .main-container {
            h2 {
                text-align: center;
                font-size: 40px;
                color: var(--second_color);
                margin-bottom: 25px;
            }

            .form {
                display: flex;
                align-items: center;
                justify-content: center;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    max-width: 500px;
                    width: 100%;
                    border: 1px solid #333;
                    border-radius: 20px;
                    padding: 20px;

                    .input-group {
                        display: flex;
                        flex-direction: column;
                        gap: 7px;

                        label {
                            font-size: 18px;
                            color: #333;
                        }

                        input {
                            width: 100%;
                            font-size: 18px;
                            padding: 8px 12px;
                            outline: none;
                            border: 1px solid #333;
                            border-radius: 10px;
                        }
                    }

                    a {
                        display: block;
                        width: fit-content;
                        color: var(--second_color);
                        font-weight: 500;
                        font-size: 16spx;
                        text-decoration: underline;
                    }

                    .btns {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        button {
                            width: 130px;
                            border: none;
                            background-color: var(--second_color);
                            color: #FFF;
                            font-size: 17px;
                            padding: 8px 0;
                            border-radius: 10px;
                            cursor: pointer;
                        }

                        p {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            color: #FFF;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .login {
        .content {
            .main-container {
                .form {
                    form {
                        .btns {
                            margin-top: 10px;
                            flex-direction: column;
                            gap: 20px;
                        }
                    }
                }
            }
        }
    }
}