.loading-btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;

    svg {
        animation: laoding 0.8s linear infinite;
    }
}

@keyframes laoding {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}