.contact {
    .content {
        padding-block: 50px;

        h2 {
            text-align: center;
            margin-bottom: 5px;
            color: var(--second_color);
            font-size: 40px;
        }

        p {
            font-size: 20px;
            color: #333;
            text-align: center;
            margin-bottom: 30px;
            max-width: 500px;
            margin-inline: auto;
            line-height: 1.7;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            >div {
                width: 49%;
            }

            .form {
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;

                    input,
                    textarea {
                        outline: none;
                        border: 1px solid #CCC;
                        padding: 12px 15px;
                        font-size: 17px;
                        border-radius: 15px;
                    }

                    textarea {
                        height: 100px;
                        resize: none;
                    }

                    button {
                        display: block;
                        width: 150px;
                        background-color: var(--second_color);
                        color: #FFF;
                        padding: 10px;
                        border: none;
                        border-radius: 15px;
                        font-size: 17px;
                        cursor: pointer;
                    }

                    input.error,
                    textarea.error {
                        border: 1px solid red;
                        outline: none;
                    }
                }
            }

            .image {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 500px;
                    height: 500px;
                    border-radius: 35px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .contact {
        .content {
            p {
                padding-inline: 15px;
                font-size: 18px;
            }

            .container {
                flex-direction: column;
                gap: 35px;

                >div {
                    width: 100% !important;
                }

                form {
                    input {
                        padding-top: 15px !important;
                    }
                }

                .image {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}