.wishlist {
    .content {
        padding-top: 50px;
        padding-bottom: 30px;
        min-height: 250px;

        h3 {
            font-size: 35px;
            color: var(--second_color);
            text-align: center;
            margin-bottom: 30px;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
        }

        .no-data {
            text-align: center;
            font-size: 20px;
        }
    }
}