.search-page {
    min-height: calc(100vh - (145px + 360px));
    padding: 40px;
    text-align: center;

    .loading-btn {
        color: var(--second_color);

        svg {
            width: 50px;
            height: 50px;
        }
    }

    >h2 {
        font-size: 35px;
        margin-bottom: 30px;
        color: var(--main_color);
    }

    .loading-btn {
        color: var(--main_color);
        font-size: 50px;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }

    .no-data {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .search-page {
        padding: 40px 20px;

        .products {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}