.terms-and-conditions {
    .loading-btn {
        padding-block: 30px;
        color: var(--second_color);

        svg {
            width: 70px;
            height: 70px;
        }
    }

    >.container {
        padding-block: 25px;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .image {
            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                object-position: center;
            }
        }

        .content {
            p {
                font-size: 18px;
                line-height: 1.9;
                overflow-wrap: break-word;
            }
        }
    }
}

@media (max-width: 767px) {
    .terms-and-conditions {
        .container {
            flex-direction: column;

            .image {
                img {
                    height: auto !important;
                }
            }
        }
    }
}