.categories {
    .content {
        padding-block: 50px;

        h2 {
            text-align: center;
            margin-bottom: 20px;
            font-size: 30px;
            color: var(--second_color);
        }

        .container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
            gap: 20px;

            .item {
                border: 1px solid #CCC;
                border-radius: 20px;

                .image {
                    height: 270px;
                    padding: 15px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }

                .info {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 15px;

                    h3 {
                        font-size: 22px;
                        color: var(--second_color);
                    }

                    p {
                        font-size: 18px;
                        color: #FFF;
                    }
                }
            }
        }
    }
}