.product {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #CCC;
    height: 440px;
    position: relative;

    .fav-btn {
        position: absolute;
        top: 15px;
        inset-inline-start: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 0, 0, 0.185);
        border: none;
        color: rgba(255, 0, 0, 0.664);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }

    .image {
        height: 200px;
        overflow: hidden;
        padding: 15px;

        img {
            width: 100%;
            height: 100%;
            transition: all 0.7s;
            object-fit: contain;
        }
    }

    .content {
        background-color: #FFF;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
        height: 100%;
        height: 240px;

        .rate {
            margin-top: 15px;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        h3 {
            font-size: 15px;
            line-height: 1.6;
        }

        .price {
            display: flex;
            align-items: center;
            gap: 10px;

            .cuurent {
                font-size: 20px;
                color: var(--main_color);
                font-weight: 500;
            }

            .old {
                font-size: 17px;
                text-decoration: line-through;
                color: #333;
            }
        }

        .add-to-cart {
            border: none;
            background-color: var(--main_color);
            color: #FFF;
            padding-block: 9px;
            font-size: 16px;
            border-radius: 20px;
            cursor: pointer;
            margin-top: auto;

            svg {
                width: 22px;
                height: 22px;
            }
        }
    }
}