.tabs {
    >div:not(div:first-of-type) {
        border: 1px solid #CCC;
        padding: 20px;
    }

    .tab-control {
        margin-top: 50px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        gap: 15px;

        button {
            width: 120px;
            padding-block: 10px;
            background-color: transparent;
            border: 1px solid #CCC;
            border-radius: 10px;
            font-size: 17px;
            transition: all 0.3s;
            cursor: pointer;

            &.active,
            &:hover {
                background-color: var(--second_color);
                color: #FFF;
            }
        }
    }

    .reviews {
        .comment {
            display: flex;
            align-items: center;
            gap: 15px;

            &:not(&:first-of-type) {
                margin-top: 20px;
                padding-top: 20px;
                border-top: 1px solid #CCC;
            }

            .rate {
                display: flex;
                flex-direction: row-reverse;
            }

            .image {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                color: var(--second_color);
            }

            .info-user {
                h4 {
                    font-size: 20px;
                    color: #FFF;
                }

                p {
                    margin-top: 5px;
                    font-size: 17px;
                    line-height: 1.7;
                    color: #111;
                }
            }
        }

        .add-comment {
            margin-top: 35px;
            padding-top: 25px;
            border-top: 1px solid #CCC;

            >p {
                font-size: 30px;
                color: var(--second_color);
                font-weight: 500;
            }

            .add-rate {
                display: flex;
                align-items: center;
                gap: 5px;

                >button {
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    border: none;
                    background-color: transparent;
                    color: var(--dangerColor);
                    cursor: pointer;
                }

                span {
                    font-size: 18px;
                }
            }

            form {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                input,
                textarea {
                    padding: 10px 15px;
                    border: 1px solid #CCC;
                    outline: none;
                    font-size: 17px;
                    border-radius: 10px;
                }

                textarea {
                    height: 100px;
                    resize: none;
                }

                button {
                    display: block;
                    width: fit-content;
                    padding: 8px 20px;
                    background-color: var(--second_color);
                    color: #FFF;
                    border: none;
                    cursor: pointer;
                    font-size: 17px;
                    border-radius: 15px;
                    width: 143px;
                }
            }
        }
    }

    .no-token {
        color: var(--second_color);
        font-size: 22px;
    }
}