.distinctive-sections {
    .container {
        .categories {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 25px;

            .category {
                background-image: url("../../../../assets/banner-02.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                padding: 20px 25px;
                height: 250px;
                border-radius: 20px;
                position: relative;
                color: #FFF;
                overflow: hidden;
                display: flex;
                align-items: center;

                &::before {
                    content: "";
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                .content {
                    position: relative;

                    h3 {
                        font-size: 22px;
                        margin-bottom: 7px;
                    }

                    p {
                        font-size: 16px;
                    }

                    a {
                        margin-top: 30px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        background-color: var(--second_color);
                        color: #FFF;
                        width: fit-content;
                        padding: 7px 20px;
                        font-size: 15px;
                        border-radius: 20px;

                        span {
                            display: flex;
                            align-items: center;

                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .distinctive-sections {
        padding-top: 40px;

        .container {
            .categories {
                grid-template-columns: repeat(1, 1fr);

                .category {
                    a {
                        padding-top: 10px !important;
                    }
                }
            }
        }
    }
}