.faqs {
    padding-block: 35px;

    h2 {
        text-align: center;
        color: var(--second_color);
        margin-bottom: 25px;
    }

    .search {
        margin-bottom: 40px;

        input {
            display: block;
            width: 500px;
            margin-inline: auto;
            outline: none;
            padding: 8px 12px;
            font-size: 16px;
            border: 1px solid #a8a8a8;
            border-radius: 20px;
            text-align: center;
        }
    }

    .loading-btn {
        color: var(--second_color);

        svg {
            width: 50px;
            height: 50px;
        }
    }

    .all-questions {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 25px;

        .accordion-item {
            width: calc(100% / 3 - 25px);

            .accordion-header {
                width: 100%;
                padding: 15px;
                background: #f8f8f8;
                border: none;
                font-size: 18px;
                cursor: pointer;
                transition: all 0.3s;
                font-weight: normal;
                color: #444;
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-align: start;

                &.active {
                    background: var(--second_color);
                    color: white;
                }
            }

            .accordion-content {
                max-height: 0;
                overflow: auto;
                transition: all 0.3s linear;
                padding: 0 15px;
                border-width: 0 1px 1px 1px;
                border-style: solid;
                border-color: var(--second_color);

                &.open {
                    max-height: 150px;
                }
            }
        }
    }

    .no-result {
        text-align: center;
        margin-bottom: 20px;
        color: var(--second_color);
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .faqs {
        .search {
            input {
                width: 100%;
            }
        }

        .all-questions {
            .accordion-item {
                width: 100%;
            }
        }
    }
}