.check-out {
    >.container {
        padding-block: 50px;
        display: flex;
        align-items: flex-start;
        gap: 15px;

        .form {
            width: 75%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            border: 1px solid #DDD;
            padding: 30px;
            border-radius: 20px;

            .no-token {
                text-align: center;
                font-size: 20px;
                color: var(--second_color);
            }

            .group {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;

                .input-group {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    &:not(&:last-of-type) {
                        margin-bottom: 15px;
                    }

                    label {
                        font-size: 18px;
                    }

                    input,
                    select {
                        font-size: 17px;
                        outline: none;
                        border: 1px solid #DDD;
                        padding: 12px;
                        border-radius: 15px;

                        &:disabled {
                            background-color: #ececec;
                        }
                    }
                }
            }

            h3 {
                text-align: center;
                margin-block: 25px;
                color: var(--second_color);
                font-size: 25px;
            }
        }

        .info-order {
            flex: 1;
            background-color: #eeeeee6c;
            border: 1px solid #DDD;
            padding: 20px;
            border-radius: 20px;

            div:not(div:last-of-type) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;
                font-size: 18px;
            }

            .total-products {
                p:last-of-type {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img {
                        width: 15px;
                        vertical-align: middle;
                    }
                }
            }

            .payment-type {
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 18px;

                label {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    cursor: pointer;

                    svg {
                        font-size: 25px;
                    }

                    img {
                        width: 50px;
                    }
                }
            }

            .pay {
                display: block;
                width: 100%;
                margin-top: 20px;
                padding: 10px;
                font-size: 17px;
                background-color: var(--second_color);
                color: #FFF;
                border: none;
                border-radius: 15px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 991px) {
    .check-out {
        >.container {
            flex-direction: column-reverse;
            gap: 30px !important;

            >div {
                width: 100% !important;
            }

            .form {
                .group {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
}