.Loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #FFF;

    .loading-btn {
        color: var(--main_color);

        svg {
            width: 70px;
            height: 70px;
        }
    }
}