.register {
    .content {
        padding-block: 40px;

        .container {
            h2 {
                text-align: center;
                font-size: 40px;
                color: var(--second_color);
                margin-bottom: 30px;
            }

            .form {
                display: flex;
                align-items: center;
                justify-content: center;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    max-width: 1200px;
                    width: 100%;
                    border: 1px solid #CCC;
                    border-radius: 20px;
                    padding: 20px;

                    .group {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 25px;

                        .input-group {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            flex: 1;

                            label {
                                font-size: 18px;
                                color: #333;
                            }

                            input,
                            select {
                                width: 100%;
                                font-size: 18px;
                                padding: 8px 12px;
                                outline: none;
                                border: 1px solid #CCC;
                                border-radius: 10px;
                                color: #5c5c5c;
                            }

                        }
                    }

                    .btns {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        button {
                            width: 130px;
                            border: none;
                            background-color: var(--second_color);
                            color: #FFF;
                            font-size: 17px;
                            padding: 7px 0;
                            border-radius: 10px;
                            cursor: pointer;

                            .loading-btn {
                                svg {
                                    width: 22px;
                                    height: 22px;
                                }
                            }
                        }

                        p {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            color: #333;
                            font-size: 17px;

                            a {
                                color: var(--second_color);
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .register {
        .content {
            .container {
                .form {
                    form {
                        .group {
                            flex-direction: column;

                            .input-group {
                                width: 100%;
                            }
                        }

                        .btns {
                            flex-direction: column;
                            gap: 20px;
                        }
                    }
                }
            }
        }
    }
}