.footer {
    min-height: 250px;
    padding-block: 20px;
    background-color: var(--second_color);

    .container {
        .row {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
            gap: 30px;
            padding-block: 20px;

            .col:first-of-type {
                display: flex;
                flex-direction: column;
                gap: 20px;
                color: #FFF;

                >img {
                    width: 90px;
                    height: 100%;
                }

                >p {
                    font-size: 20px;
                    line-height: 1.7;
                }

                .app {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 130px;
                        height: 100%;
                        border-radius: 10px;
                    }
                }
            }

            .col:nth-of-type(2),
            .col:nth-of-type(3) {
                h3 {
                    color: #FFF;
                    font-size: 35px;
                    margin-bottom: 10px;
                }

                a {
                    display: block;
                    width: fit-content;
                    color: #FFF;
                    font-size: 18px;

                    &:not(&:last-of-type) {
                        margin-bottom: 10px;
                    }
                }
            }

            .col:last-of-type {
                color: #FFF;

                h3 {
                    color: #FFF;
                    font-size: 35px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 18px;

                    &:not(&:last-of-type) {
                        margin-bottom: 10px;
                    }
                }

                .images {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-top: 30px;

                    img:first-of-type {
                        width: 170px;
                    }

                    img:last-of-type {
                        width: 200px;
                    }
                }
            }
        }
    }

    .copyright {
        padding-top: 20px;
        border-top: 1px solid #FFF;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;


            img {
                width: 60px;
            }

            p {
                font-size: 18px;
                color: #FFF;
            }
        }
    }
}

@media (max-width: 991px) {
    .footer {
        padding-top: 20px;

        .col:first-of-type {
            >img {
                margin-inline: auto;
            }

            .app {
                justify-content: center;

                img {
                    width: 100% !important;
                }
            }
        }

        .col:last-of-type {
            ul {
                justify-content: center;
            }
        }

        .col {
            text-align: center;

            a {
                width: 100% !important;
            }
        }
    }
}