.popular-products {
    padding-top: 30px;

    .loading-btn {
        color: var(--main_color);

        svg {
            width: 50px;
            height: 50px;
        }
    }

    .container {

        .products-slider {
            .mySwiper {
                padding-bottom: 50px;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        h2 {
            text-align: center;
            font-size: 23px !important;
        }
    }
}