.popular-products {
    .container {
        h2 {
            text-align: center;
            color: var(--main_color);
            margin-bottom: 20px;
        }

        .products-slider {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 15px;
        }
    }
}