.privacy-policy {
    >.container {
        padding-block: 25px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;

        .image {
            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                object-position: center;
            }
        }

        .content {
            p {
                font-size: 18px;
                line-height: 1.9;
                overflow-wrap: break-word;
            }
        }
    }
}

@media (max-width: 767px) {
    .privacy-policy {
        .container {
            flex-direction: column;

            .image {
                img {
                    height: auto !important;
                }
            }
        }
    }
}