.blogs {
    padding-block: 40px;

    .loading-btn {
        padding-block: 30px;
        color: var(--second_color);

        svg {
            width: 70px;
            height: 70px;
        }
    }

    .content {
        .container {
            .all-blogs {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
                gap: 25px;
            }
        }

        .no-data {
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            height: 300px;
            color: var(--main_color);
        }
    }
}

@media (max-width: 500px) {
    .blogs {
        .content {
            .all-blogs {
                grid-template-columns: repeat(1, 1fr) !important;
            }
        }
    }
}