.blog-details {
    .content {
        padding-top: 50px;
        padding-bottom: 30px;
        width: 80%;
        margin-inline: auto;

        .main-image {
            margin-bottom: 30px;

            img {
                width: 100%;
                height: 350px;
                object-fit: cover;
                object-position: center;
                border-radius: 30px;
            }
        }

        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-block: 10px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--secondColor);
                padding: 5px;
                border-radius: 5px;
                background-color: transparent;
                font-size: 20px;
                color: var(--secondColor);
                cursor: pointer;
            }
        }

        >h3,
        >p:first-of-type {
            margin-bottom: 10px;
        }

        span {
            display: block;
            margin-bottom: 5px;
            font-size: 20px;
            color: var(--lightGray);
        }

        h3 {
            font-size: 25px;
            color: var(--lightGray);
        }

        .second-images {
            display: flex;
            align-items: center;
            gap: 25px;
            margin-block: 40px;

            img {
                width: 50%;
                height: 300px;
                object-fit: cover;
                object-position: center;
                border-radius: 20px;
            }
        }
    }

    .reviews {
        width: 80%;
        margin-inline: auto;
        margin-bottom: 30px;

        .no-token {
            text-align: center;
            font-size: 20px;
            color: var(--secondColor);
        }

        >h3 {
            text-align: center;
            margin-bottom: 20px;
            font-size: 25px;
            color: var(--secondColor);
        }

        .main-comment {
            display: flex;
            flex-direction: column;

            &:not(&:first-of-type) {
                margin-top: 20px;
                padding-top: 20px;
                border-top: 1px solid var(--borderColor);
            }

            .comment {
                display: flex;
                align-items: center;
                gap: 15px;

                .image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 30px;
                    color: var(--secondColor);
                }

                .info-user {
                    h4 {
                        font-size: 20px;
                        color: var(--lightGray);
                    }

                    p {
                        margin-top: 5px;
                        font-size: 17px;
                        line-height: 1.7;
                        color: var(--darkGray);
                    }
                }
            }

            .sub {
                margin-top: 20px;
                padding-inline-start: 50px;

                .btn-reply {
                    border: none;
                    background-color: transparent;
                    color: var(--secondColor);
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 600;
                    margin-top: 10px;
                }

                .comment {
                    margin-bottom: 20px !important;
                }
            }
        }

        .add-comment {
            margin-top: 20px;
            padding-top: 25px;
            border-top: 1px solid var(--borderColor);

            >p {
                font-size: 30px;
                color: var(--secondColor);
                font-weight: 500;
            }
        }

        form {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            input,
            textarea {
                padding: 10px 15px;
                border: 1px solid var(--borderColor);
                outline: none;
                font-size: 17px;
                border-radius: 10px;
            }

            textarea {
                height: 100px;
                resize: none;
            }

            button {
                display: block;
                width: fit-content;
                padding: 8px 20px;
                background-color: var(--secondColor);
                color: #FFF;
                border: none;
                cursor: pointer;
                font-size: 17px;
                border-radius: 15px;
                width: 143px;
            }
        }
    }
}

@media (max-width: 767px) {
    .blog-details {
        text-align: center;

        .content {
            .second-images {
                flex-direction: column;

                img {
                    width: 100%;
                }
            }
        }
    }
}