.product-details {
    >.content {
        padding-block: 50px;

        .container {
            .related-product {
                padding-top: 50px;

                >h3 {
                    text-align: center;
                    font-size: 35px;
                    color: var(--second_color);
                    margin-bottom: 5px;
                }

                .products {
                    margin-top: 25px;

                    .product {
                        margin-inline: 5px;
                    }
                }
            }
        }
    }
}