.discounts {
    .loading-btn {
        color: var(--main_color);
        padding-bottom: 30px;

        svg {
            width: 50px;
            height: 50px;
        }
    }

    .container {

        .products-slider {
            .mySwiper {
                padding-bottom: 50px;
            }
        }
    }
}

@media (max-width: 767px) {
    .discounts {
        h2 {
            text-align: center;
            font-size: 23px !important;
        }
    }
}